@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #48eece;
  color: white;
  margin: 0 auto;
  width: 50%;
}

h1 {
  color: #496a84;
  text-align: center;
}

.odds-converter {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 66vh;
  justify-content: flex-start;
  align-items: center;
  background-color: #496a84;
  border-radius: 20px;
}

.clear {
  font-family: "Nanum Gothic", sans-serif;
  background-color: white;
  color: #496a84;
  position: absolute;
  top: 10px;
  right: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.clear:active {
  transform: scale(0.95);
}

.euodds,
.usodds,
.ukodds,
.probability {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
}

input {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
